@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ktgvf2');
  src:  url('../fonts/icomoon.eot?ktgvf2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ktgvf2') format('truetype'),
    url('../fonts/icomoon.woff?ktgvf2') format('woff'),
    url('../fonts/icomoon.svg?ktgvf2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconmoon-"], [class*=" iconmoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmoon-home:before {
  content: "\e900";
}
.iconmoon-home2:before {
  content: "\e901";
}
.iconmoon-home3:before {
  content: "\e902";
}
.iconmoon-office:before {
  content: "\e903";
}
.iconmoon-newspaper:before {
  content: "\e904";
}
.iconmoon-pencil:before {
  content: "\e905";
}
.iconmoon-pencil2:before {
  content: "\e906";
}
.iconmoon-quill:before {
  content: "\e907";
}
.iconmoon-pen:before {
  content: "\e908";
}
.iconmoon-blog:before {
  content: "\e909";
}
.iconmoon-eyedropper:before {
  content: "\e90a";
}
.iconmoon-droplet:before {
  content: "\e90b";
}
.iconmoon-paint-format:before {
  content: "\e90c";
}
.iconmoon-image:before {
  content: "\e90d";
}
.iconmoon-images:before {
  content: "\e90e";
}
.iconmoon-camera:before {
  content: "\e90f";
}
.iconmoon-headphones:before {
  content: "\e910";
}
.iconmoon-music:before {
  content: "\e911";
}
.iconmoon-play:before {
  content: "\e912";
}
.iconmoon-film:before {
  content: "\e913";
}
.iconmoon-video-camera:before {
  content: "\e914";
}
.iconmoon-dice:before {
  content: "\e915";
}
.iconmoon-pacman:before {
  content: "\e916";
}
.iconmoon-spades:before {
  content: "\e917";
}
.iconmoon-clubs:before {
  content: "\e918";
}
.iconmoon-diamonds:before {
  content: "\e919";
}
.iconmoon-bullhorn:before {
  content: "\e91a";
}
.iconmoon-connection:before {
  content: "\e91b";
}
.iconmoon-podcast:before {
  content: "\e91c";
}
.iconmoon-feed:before {
  content: "\e91d";
}
.iconmoon-mic:before {
  content: "\e91e";
}
.iconmoon-book:before {
  content: "\e91f";
}
.iconmoon-books:before {
  content: "\e920";
}
.iconmoon-library:before {
  content: "\e921";
}
.iconmoon-file-text:before {
  content: "\e922";
}
.iconmoon-profile:before {
  content: "\e923";
}
.iconmoon-file-empty:before {
  content: "\e924";
}
.iconmoon-files-empty:before {
  content: "\e925";
}
.iconmoon-file-text2:before {
  content: "\e926";
}
.iconmoon-file-picture:before {
  content: "\e927";
}
.iconmoon-file-music:before {
  content: "\e928";
}
.iconmoon-file-play:before {
  content: "\e929";
}
.iconmoon-file-video:before {
  content: "\e92a";
}
.iconmoon-file-zip:before {
  content: "\e92b";
}
.iconmoon-copy:before {
  content: "\e92c";
}
.iconmoon-paste:before {
  content: "\e92d";
}
.iconmoon-stack:before {
  content: "\e92e";
}
.iconmoon-folder:before {
  content: "\e92f";
}
.iconmoon-folder-open:before {
  content: "\e930";
}
.iconmoon-folder-plus:before {
  content: "\e931";
}
.iconmoon-folder-minus:before {
  content: "\e932";
}
.iconmoon-folder-download:before {
  content: "\e933";
}
.iconmoon-folder-upload:before {
  content: "\e934";
}
.iconmoon-price-tag:before {
  content: "\e935";
}
.iconmoon-price-tags:before {
  content: "\e936";
}
.iconmoon-barcode:before {
  content: "\e937";
}
.iconmoon-qrcode:before {
  content: "\e938";
}
.iconmoon-ticket:before {
  content: "\e939";
}
.iconmoon-cart:before {
  content: "\e93a";
}
.iconmoon-coin-dollar:before {
  content: "\e93b";
}
.iconmoon-coin-euro:before {
  content: "\e93c";
}
.iconmoon-coin-pound:before {
  content: "\e93d";
}
.iconmoon-coin-yen:before {
  content: "\e93e";
}
.iconmoon-credit-card:before {
  content: "\e93f";
}
.iconmoon-calculator:before {
  content: "\e940";
}
.iconmoon-lifebuoy:before {
  content: "\e941";
}
.iconmoon-phone:before {
  content: "\e942";
}
.iconmoon-phone-hang-up:before {
  content: "\e943";
}
.iconmoon-address-book:before {
  content: "\e944";
}
.iconmoon-envelop:before {
  content: "\e945";
}
.iconmoon-pushpin:before {
  content: "\e946";
}
.iconmoon-location:before {
  content: "\e947";
}
.iconmoon-location2:before {
  content: "\e948";
}
.iconmoon-compass:before {
  content: "\e949";
}
.iconmoon-compass2:before {
  content: "\e94a";
}
.iconmoon-map:before {
  content: "\e94b";
}
.iconmoon-map2:before {
  content: "\e94c";
}
.iconmoon-history:before {
  content: "\e94d";
}
.iconmoon-clock:before {
  content: "\e94e";
}
.iconmoon-clock2:before {
  content: "\e94f";
}
.iconmoon-alarm:before {
  content: "\e950";
}
.iconmoon-bell:before {
  content: "\e951";
}
.iconmoon-stopwatch:before {
  content: "\e952";
}
.iconmoon-calendar:before {
  content: "\e953";
}
.iconmoon-printer:before {
  content: "\e954";
}
.iconmoon-keyboard:before {
  content: "\e955";
}
.iconmoon-display:before {
  content: "\e956";
}
.iconmoon-laptop:before {
  content: "\e957";
}
.iconmoon-mobile:before {
  content: "\e958";
}
.iconmoon-mobile2:before {
  content: "\e959";
}
.iconmoon-tablet:before {
  content: "\e95a";
}
.iconmoon-tv:before {
  content: "\e95b";
}
.iconmoon-drawer:before {
  content: "\e95c";
}
.iconmoon-drawer2:before {
  content: "\e95d";
}
.iconmoon-box-add:before {
  content: "\e95e";
}
.iconmoon-box-remove:before {
  content: "\e95f";
}
.iconmoon-download:before {
  content: "\e960";
}
.iconmoon-upload:before {
  content: "\e961";
}
.iconmoon-floppy-disk:before {
  content: "\e962";
}
.iconmoon-drive:before {
  content: "\e963";
}
.iconmoon-database:before {
  content: "\e964";
}
.iconmoon-undo:before {
  content: "\e965";
}
.iconmoon-redo:before {
  content: "\e966";
}
.iconmoon-undo2:before {
  content: "\e967";
}
.iconmoon-redo2:before {
  content: "\e968";
}
.iconmoon-forward:before {
  content: "\e969";
}
.iconmoon-reply:before {
  content: "\e96a";
}
.iconmoon-bubble:before {
  content: "\e96b";
}
.iconmoon-bubbles:before {
  content: "\e96c";
}
.iconmoon-bubbles2:before {
  content: "\e96d";
}
.iconmoon-bubble2:before {
  content: "\e96e";
}
.iconmoon-bubbles3:before {
  content: "\e96f";
}
.iconmoon-bubbles4:before {
  content: "\e970";
}
.iconmoon-user:before {
  content: "\e971";
}
.iconmoon-users:before {
  content: "\e972";
}
.iconmoon-user-plus:before {
  content: "\e973";
}
.iconmoon-user-minus:before {
  content: "\e974";
}
.iconmoon-user-check:before {
  content: "\e975";
}
.iconmoon-user-tie:before {
  content: "\e976";
}
.iconmoon-quotes-left:before {
  content: "\e977";
}
.iconmoon-quotes-right:before {
  content: "\e978";
}
.iconmoon-hour-glass:before {
  content: "\e979";
}
.iconmoon-spinner:before {
  content: "\e97a";
}
.iconmoon-spinner2:before {
  content: "\e97b";
}
.iconmoon-spinner3:before {
  content: "\e97c";
}
.iconmoon-spinner4:before {
  content: "\e97d";
}
.iconmoon-spinner5:before {
  content: "\e97e";
}
.iconmoon-spinner6:before {
  content: "\e97f";
}
.iconmoon-spinner7:before {
  content: "\e980";
}
.iconmoon-spinner8:before {
  content: "\e981";
}
.iconmoon-spinner9:before {
  content: "\e982";
}
.iconmoon-spinner10:before {
  content: "\e983";
}
.iconmoon-spinner11:before {
  content: "\e984";
}
.iconmoon-binoculars:before {
  content: "\e985";
}
.iconmoon-search:before {
  content: "\e986";
}
.iconmoon-zoom-in:before {
  content: "\e987";
}
.iconmoon-zoom-out:before {
  content: "\e988";
}
.iconmoon-enlarge:before {
  content: "\e989";
}
.iconmoon-shrink:before {
  content: "\e98a";
}
.iconmoon-enlarge2:before {
  content: "\e98b";
}
.iconmoon-shrink2:before {
  content: "\e98c";
}
.iconmoon-key:before {
  content: "\e98d";
}
.iconmoon-key2:before {
  content: "\e98e";
}
.iconmoon-lock:before {
  content: "\e98f";
}
.iconmoon-unlocked:before {
  content: "\e990";
}
.iconmoon-wrench:before {
  content: "\e991";
}
.iconmoon-equalizer:before {
  content: "\e992";
}
.iconmoon-equalizer2:before {
  content: "\e993";
}
.iconmoon-cog:before {
  content: "\e994";
}
.iconmoon-cogs:before {
  content: "\e995";
}
.iconmoon-hammer:before {
  content: "\e996";
}
.iconmoon-magic-wand:before {
  content: "\e997";
}
.iconmoon-aid-kit:before {
  content: "\e998";
}
.iconmoon-bug:before {
  content: "\e999";
}
.iconmoon-pie-chart:before {
  content: "\e99a";
}
.iconmoon-stats-dots:before {
  content: "\e99b";
}
.iconmoon-stats-bars:before {
  content: "\e99c";
}
.iconmoon-stats-bars2:before {
  content: "\e99d";
}
.iconmoon-trophy:before {
  content: "\e99e";
}
.iconmoon-gift:before {
  content: "\e99f";
}
.iconmoon-glass:before {
  content: "\e9a0";
}
.iconmoon-glass2:before {
  content: "\e9a1";
}
.iconmoon-mug:before {
  content: "\e9a2";
}
.iconmoon-spoon-knife:before {
  content: "\e9a3";
}
.iconmoon-leaf:before {
  content: "\e9a4";
}
.iconmoon-rocket:before {
  content: "\e9a5";
}
.iconmoon-meter:before {
  content: "\e9a6";
}
.iconmoon-meter2:before {
  content: "\e9a7";
}
.iconmoon-hammer2:before {
  content: "\e9a8";
}
.iconmoon-fire:before {
  content: "\e9a9";
}
.iconmoon-lab:before {
  content: "\e9aa";
}
.iconmoon-magnet:before {
  content: "\e9ab";
}
.iconmoon-bin:before {
  content: "\e9ac";
}
.iconmoon-bin2:before {
  content: "\e9ad";
}
.iconmoon-briefcase:before {
  content: "\e9ae";
}
.iconmoon-airplane:before {
  content: "\e9af";
}
.iconmoon-truck:before {
  content: "\e9b0";
}
.iconmoon-road:before {
  content: "\e9b1";
}
.iconmoon-accessibility:before {
  content: "\e9b2";
}
.iconmoon-target:before {
  content: "\e9b3";
}
.iconmoon-shield:before {
  content: "\e9b4";
}
.iconmoon-power:before {
  content: "\e9b5";
}
.iconmoon-switch:before {
  content: "\e9b6";
}
.iconmoon-power-cord:before {
  content: "\e9b7";
}
.iconmoon-clipboard:before {
  content: "\e9b8";
}
.iconmoon-list-numbered:before {
  content: "\e9b9";
}
.iconmoon-list:before {
  content: "\e9ba";
}
.iconmoon-list2:before {
  content: "\e9bb";
}
.iconmoon-tree:before {
  content: "\e9bc";
}
.iconmoon-menu:before {
  content: "\e9bd";
}
.iconmoon-menu2:before {
  content: "\e9be";
}
.iconmoon-menu3:before {
  content: "\e9bf";
}
.iconmoon-menu4:before {
  content: "\e9c0";
}
.iconmoon-cloud:before {
  content: "\e9c1";
}
.iconmoon-cloud-download:before {
  content: "\e9c2";
}
.iconmoon-cloud-upload:before {
  content: "\e9c3";
}
.iconmoon-cloud-check:before {
  content: "\e9c4";
}
.iconmoon-download2:before {
  content: "\e9c5";
}
.iconmoon-upload2:before {
  content: "\e9c6";
}
.iconmoon-download3:before {
  content: "\e9c7";
}
.iconmoon-upload3:before {
  content: "\e9c8";
}
.iconmoon-sphere:before {
  content: "\e9c9";
}
.iconmoon-earth:before {
  content: "\e9ca";
}
.iconmoon-link:before {
  content: "\e9cb";
}
.iconmoon-flag:before {
  content: "\e9cc";
}
.iconmoon-attachment:before {
  content: "\e9cd";
}
.iconmoon-eye:before {
  content: "\e9ce";
}
.iconmoon-eye-plus:before {
  content: "\e9cf";
}
.iconmoon-eye-minus:before {
  content: "\e9d0";
}
.iconmoon-eye-blocked:before {
  content: "\e9d1";
}
.iconmoon-bookmark:before {
  content: "\e9d2";
}
.iconmoon-bookmarks:before {
  content: "\e9d3";
}
.iconmoon-sun:before {
  content: "\e9d4";
}
.iconmoon-contrast:before {
  content: "\e9d5";
}
.iconmoon-brightness-contrast:before {
  content: "\e9d6";
}
.iconmoon-star-empty:before {
  content: "\e9d7";
}
.iconmoon-star-half:before {
  content: "\e9d8";
}
.iconmoon-star-full:before {
  content: "\e9d9";
}
.iconmoon-heart:before {
  content: "\e9da";
}
.iconmoon-heart-broken:before {
  content: "\e9db";
}
.iconmoon-man:before {
  content: "\e9dc";
}
.iconmoon-woman:before {
  content: "\e9dd";
}
.iconmoon-man-woman:before {
  content: "\e9de";
}
.iconmoon-happy:before {
  content: "\e9df";
}
.iconmoon-happy2:before {
  content: "\e9e0";
}
.iconmoon-smile:before {
  content: "\e9e1";
}
.iconmoon-smile2:before {
  content: "\e9e2";
}
.iconmoon-tongue:before {
  content: "\e9e3";
}
.iconmoon-tongue2:before {
  content: "\e9e4";
}
.iconmoon-sad:before {
  content: "\e9e5";
}
.iconmoon-sad2:before {
  content: "\e9e6";
}
.iconmoon-wink:before {
  content: "\e9e7";
}
.iconmoon-wink2:before {
  content: "\e9e8";
}
.iconmoon-grin:before {
  content: "\e9e9";
}
.iconmoon-grin2:before {
  content: "\e9ea";
}
.iconmoon-cool:before {
  content: "\e9eb";
}
.iconmoon-cool2:before {
  content: "\e9ec";
}
.iconmoon-angry:before {
  content: "\e9ed";
}
.iconmoon-angry2:before {
  content: "\e9ee";
}
.iconmoon-evil:before {
  content: "\e9ef";
}
.iconmoon-evil2:before {
  content: "\e9f0";
}
.iconmoon-shocked:before {
  content: "\e9f1";
}
.iconmoon-shocked2:before {
  content: "\e9f2";
}
.iconmoon-baffled:before {
  content: "\e9f3";
}
.iconmoon-baffled2:before {
  content: "\e9f4";
}
.iconmoon-confused:before {
  content: "\e9f5";
}
.iconmoon-confused2:before {
  content: "\e9f6";
}
.iconmoon-neutral:before {
  content: "\e9f7";
}
.iconmoon-neutral2:before {
  content: "\e9f8";
}
.iconmoon-hipster:before {
  content: "\e9f9";
}
.iconmoon-hipster2:before {
  content: "\e9fa";
}
.iconmoon-wondering:before {
  content: "\e9fb";
}
.iconmoon-wondering2:before {
  content: "\e9fc";
}
.iconmoon-sleepy:before {
  content: "\e9fd";
}
.iconmoon-sleepy2:before {
  content: "\e9fe";
}
.iconmoon-frustrated:before {
  content: "\e9ff";
}
.iconmoon-frustrated2:before {
  content: "\ea00";
}
.iconmoon-crying:before {
  content: "\ea01";
}
.iconmoon-crying2:before {
  content: "\ea02";
}
.iconmoon-point-up:before {
  content: "\ea03";
}
.iconmoon-point-right:before {
  content: "\ea04";
}
.iconmoon-point-down:before {
  content: "\ea05";
}
.iconmoon-point-left:before {
  content: "\ea06";
}
.iconmoon-warning:before {
  content: "\ea07";
}
.iconmoon-notification:before {
  content: "\ea08";
}
.iconmoon-question:before {
  content: "\ea09";
}
.iconmoon-plus:before {
  content: "\ea0a";
}
.iconmoon-minus:before {
  content: "\ea0b";
}
.iconmoon-info:before {
  content: "\ea0c";
}
.iconmoon-cancel-circle:before {
  content: "\ea0d";
}
.iconmoon-blocked:before {
  content: "\ea0e";
}
.iconmoon-cross:before {
  content: "\ea0f";
}
.iconmoon-checkmark:before {
  content: "\ea10";
}
.iconmoon-checkmark2:before {
  content: "\ea11";
}
.iconmoon-spell-check:before {
  content: "\ea12";
}
.iconmoon-enter:before {
  content: "\ea13";
}
.iconmoon-exit:before {
  content: "\ea14";
}
.iconmoon-play2:before {
  content: "\ea15";
}
.iconmoon-pause:before {
  content: "\ea16";
}
.iconmoon-stop:before {
  content: "\ea17";
}
.iconmoon-previous:before {
  content: "\ea18";
}
.iconmoon-next:before {
  content: "\ea19";
}
.iconmoon-backward:before {
  content: "\ea1a";
}
.iconmoon-forward2:before {
  content: "\ea1b";
}
.iconmoon-play3:before {
  content: "\ea1c";
}
.iconmoon-pause2:before {
  content: "\ea1d";
}
.iconmoon-stop2:before {
  content: "\ea1e";
}
.iconmoon-backward2:before {
  content: "\ea1f";
}
.iconmoon-forward3:before {
  content: "\ea20";
}
.iconmoon-first:before {
  content: "\ea21";
}
.iconmoon-last:before {
  content: "\ea22";
}
.iconmoon-previous2:before {
  content: "\ea23";
}
.iconmoon-next2:before {
  content: "\ea24";
}
.iconmoon-eject:before {
  content: "\ea25";
}
.iconmoon-volume-high:before {
  content: "\ea26";
}
.iconmoon-volume-medium:before {
  content: "\ea27";
}
.iconmoon-volume-low:before {
  content: "\ea28";
}
.iconmoon-volume-mute:before {
  content: "\ea29";
}
.iconmoon-volume-mute2:before {
  content: "\ea2a";
}
.iconmoon-volume-increase:before {
  content: "\ea2b";
}
.iconmoon-volume-decrease:before {
  content: "\ea2c";
}
.iconmoon-loop:before {
  content: "\ea2d";
}
.iconmoon-loop2:before {
  content: "\ea2e";
}
.iconmoon-infinite:before {
  content: "\ea2f";
}
.iconmoon-shuffle:before {
  content: "\ea30";
}
.iconmoon-arrow-up-left:before {
  content: "\ea31";
}
.iconmoon-arrow-up:before {
  content: "\ea32";
}
.iconmoon-arrow-up-right:before {
  content: "\ea33";
}
.iconmoon-arrow-right:before {
  content: "\ea34";
}
.iconmoon-arrow-down-right:before {
  content: "\ea35";
}
.iconmoon-arrow-down:before {
  content: "\ea36";
}
.iconmoon-arrow-down-left:before {
  content: "\ea37";
}
.iconmoon-arrow-left:before {
  content: "\ea38";
}
.iconmoon-arrow-up-left2:before {
  content: "\ea39";
}
.iconmoon-arrow-up2:before {
  content: "\ea3a";
}
.iconmoon-arrow-up-right2:before {
  content: "\ea3b";
}
.iconmoon-arrow-right2:before {
  content: "\ea3c";
}
.iconmoon-arrow-down-right2:before {
  content: "\ea3d";
}
.iconmoon-arrow-down2:before {
  content: "\ea3e";
}
.iconmoon-arrow-down-left2:before {
  content: "\ea3f";
}
.iconmoon-arrow-left2:before {
  content: "\ea40";
}
.iconmoon-circle-up:before {
  content: "\ea41";
}
.iconmoon-circle-right:before {
  content: "\ea42";
}
.iconmoon-circle-down:before {
  content: "\ea43";
}
.iconmoon-circle-left:before {
  content: "\ea44";
}
.iconmoon-tab:before {
  content: "\ea45";
}
.iconmoon-move-up:before {
  content: "\ea46";
}
.iconmoon-move-down:before {
  content: "\ea47";
}
.iconmoon-sort-alpha-asc:before {
  content: "\ea48";
}
.iconmoon-sort-alpha-desc:before {
  content: "\ea49";
}
.iconmoon-sort-numeric-asc:before {
  content: "\ea4a";
}
.iconmoon-sort-numberic-desc:before {
  content: "\ea4b";
}
.iconmoon-sort-amount-asc:before {
  content: "\ea4c";
}
.iconmoon-sort-amount-desc:before {
  content: "\ea4d";
}
.iconmoon-command:before {
  content: "\ea4e";
}
.iconmoon-shift:before {
  content: "\ea4f";
}
.iconmoon-ctrl:before {
  content: "\ea50";
}
.iconmoon-opt:before {
  content: "\ea51";
}
.iconmoon-checkbox-checked:before {
  content: "\ea52";
}
.iconmoon-checkbox-unchecked:before {
  content: "\ea53";
}
.iconmoon-radio-checked:before {
  content: "\ea54";
}
.iconmoon-radio-checked2:before {
  content: "\ea55";
}
.iconmoon-radio-unchecked:before {
  content: "\ea56";
}
.iconmoon-crop:before {
  content: "\ea57";
}
.iconmoon-make-group:before {
  content: "\ea58";
}
.iconmoon-ungroup:before {
  content: "\ea59";
}
.iconmoon-scissors:before {
  content: "\ea5a";
}
.iconmoon-filter:before {
  content: "\ea5b";
}
.iconmoon-font:before {
  content: "\ea5c";
}
.iconmoon-ligature:before {
  content: "\ea5d";
}
.iconmoon-ligature2:before {
  content: "\ea5e";
}
.iconmoon-text-height:before {
  content: "\ea5f";
}
.iconmoon-text-width:before {
  content: "\ea60";
}
.iconmoon-font-size:before {
  content: "\ea61";
}
.iconmoon-bold:before {
  content: "\ea62";
}
.iconmoon-underline:before {
  content: "\ea63";
}
.iconmoon-italic:before {
  content: "\ea64";
}
.iconmoon-strikethrough:before {
  content: "\ea65";
}
.iconmoon-omega:before {
  content: "\ea66";
}
.iconmoon-sigma:before {
  content: "\ea67";
}
.iconmoon-page-break:before {
  content: "\ea68";
}
.iconmoon-superscript:before {
  content: "\ea69";
}
.iconmoon-subscript:before {
  content: "\ea6a";
}
.iconmoon-superscript2:before {
  content: "\ea6b";
}
.iconmoon-subscript2:before {
  content: "\ea6c";
}
.iconmoon-text-color:before {
  content: "\ea6d";
}
.iconmoon-pagebreak:before {
  content: "\ea6e";
}
.iconmoon-clear-formatting:before {
  content: "\ea6f";
}
.iconmoon-table:before {
  content: "\ea70";
}
.iconmoon-table2:before {
  content: "\ea71";
}
.iconmoon-insert-template:before {
  content: "\ea72";
}
.iconmoon-pilcrow:before {
  content: "\ea73";
}
.iconmoon-ltr:before {
  content: "\ea74";
}
.iconmoon-rtl:before {
  content: "\ea75";
}
.iconmoon-section:before {
  content: "\ea76";
}
.iconmoon-paragraph-left:before {
  content: "\ea77";
}
.iconmoon-paragraph-center:before {
  content: "\ea78";
}
.iconmoon-paragraph-right:before {
  content: "\ea79";
}
.iconmoon-paragraph-justify:before {
  content: "\ea7a";
}
.iconmoon-indent-increase:before {
  content: "\ea7b";
}
.iconmoon-indent-decrease:before {
  content: "\ea7c";
}
.iconmoon-share:before {
  content: "\ea7d";
}
.iconmoon-new-tab:before {
  content: "\ea7e";
}
.iconmoon-embed:before {
  content: "\ea7f";
}
.iconmoon-embed2:before {
  content: "\ea80";
}
.iconmoon-terminal:before {
  content: "\ea81";
}
.iconmoon-share2:before {
  content: "\ea82";
}
.iconmoon-mail:before {
  content: "\ea83";
}
.iconmoon-mail2:before {
  content: "\ea84";
}
.iconmoon-mail3:before {
  content: "\ea85";
}
.iconmoon-mail4:before {
  content: "\ea86";
}
.iconmoon-amazon:before {
  content: "\ea87";
}
.iconmoon-google:before {
  content: "\ea88";
}
.iconmoon-google2:before {
  content: "\ea89";
}
.iconmoon-google3:before {
  content: "\ea8a";
}
.iconmoon-google-plus:before {
  content: "\ea8b";
}
.iconmoon-google-plus2:before {
  content: "\ea8c";
}
.iconmoon-google-plus3:before {
  content: "\ea8d";
}
.iconmoon-hangouts:before {
  content: "\ea8e";
}
.iconmoon-google-drive:before {
  content: "\ea8f";
}
.iconmoon-facebook:before {
  content: "\ea90";
}
.iconmoon-facebook2:before {
  content: "\ea91";
}
.iconmoon-instagram:before {
  content: "\ea92";
}
.iconmoon-whatsapp:before {
  content: "\ea93";
}
.iconmoon-spotify:before {
  content: "\ea94";
}
.iconmoon-telegram:before {
  content: "\ea95";
}
.iconmoon-twitter:before {
  content: "\ea96";
}
.iconmoon-vine:before {
  content: "\ea97";
}
.iconmoon-vk:before {
  content: "\ea98";
}
.iconmoon-renren:before {
  content: "\ea99";
}
.iconmoon-sina-weibo:before {
  content: "\ea9a";
}
.iconmoon-rss:before {
  content: "\ea9b";
}
.iconmoon-rss2:before {
  content: "\ea9c";
}
.iconmoon-youtube:before {
  content: "\ea9d";
}
.iconmoon-youtube2:before {
  content: "\ea9e";
}
.iconmoon-twitch:before {
  content: "\ea9f";
}
.iconmoon-vimeo:before {
  content: "\eaa0";
}
.iconmoon-vimeo2:before {
  content: "\eaa1";
}
.iconmoon-lanyrd:before {
  content: "\eaa2";
}
.iconmoon-flickr:before {
  content: "\eaa3";
}
.iconmoon-flickr2:before {
  content: "\eaa4";
}
.iconmoon-flickr3:before {
  content: "\eaa5";
}
.iconmoon-flickr4:before {
  content: "\eaa6";
}
.iconmoon-dribbble:before {
  content: "\eaa7";
}
.iconmoon-behance:before {
  content: "\eaa8";
}
.iconmoon-behance2:before {
  content: "\eaa9";
}
.iconmoon-deviantart:before {
  content: "\eaaa";
}
.iconmoon-500px:before {
  content: "\eaab";
}
.iconmoon-steam:before {
  content: "\eaac";
}
.iconmoon-steam2:before {
  content: "\eaad";
}
.iconmoon-dropbox:before {
  content: "\eaae";
}
.iconmoon-onedrive:before {
  content: "\eaaf";
}
.iconmoon-github:before {
  content: "\eab0";
}
.iconmoon-npm:before {
  content: "\eab1";
}
.iconmoon-basecamp:before {
  content: "\eab2";
}
.iconmoon-trello:before {
  content: "\eab3";
}
.iconmoon-wordpress:before {
  content: "\eab4";
}
.iconmoon-joomla:before {
  content: "\eab5";
}
.iconmoon-ello:before {
  content: "\eab6";
}
.iconmoon-blogger:before {
  content: "\eab7";
}
.iconmoon-blogger2:before {
  content: "\eab8";
}
.iconmoon-tumblr:before {
  content: "\eab9";
}
.iconmoon-tumblr2:before {
  content: "\eaba";
}
.iconmoon-yahoo:before {
  content: "\eabb";
}
.iconmoon-yahoo2:before {
  content: "\eabc";
}
.iconmoon-tux:before {
  content: "\eabd";
}
.iconmoon-appleinc:before {
  content: "\eabe";
}
.iconmoon-finder:before {
  content: "\eabf";
}
.iconmoon-android:before {
  content: "\eac0";
}
.iconmoon-windows:before {
  content: "\eac1";
}
.iconmoon-windows8:before {
  content: "\eac2";
}
.iconmoon-soundcloud:before {
  content: "\eac3";
}
.iconmoon-soundcloud2:before {
  content: "\eac4";
}
.iconmoon-skype:before {
  content: "\eac5";
}
.iconmoon-reddit:before {
  content: "\eac6";
}
.iconmoon-hackernews:before {
  content: "\eac7";
}
.iconmoon-wikipedia:before {
  content: "\eac8";
}
.iconmoon-linkedin:before {
  content: "\eac9";
}
.iconmoon-linkedin2:before {
  content: "\eaca";
}
.iconmoon-lastfm:before {
  content: "\eacb";
}
.iconmoon-lastfm2:before {
  content: "\eacc";
}
.iconmoon-delicious:before {
  content: "\eacd";
}
.iconmoon-stumbleupon:before {
  content: "\eace";
}
.iconmoon-stumbleupon2:before {
  content: "\eacf";
}
.iconmoon-stackoverflow:before {
  content: "\ead0";
}
.iconmoon-pinterest:before {
  content: "\ead1";
}
.iconmoon-pinterest2:before {
  content: "\ead2";
}
.iconmoon-xing:before {
  content: "\ead3";
}
.iconmoon-xing2:before {
  content: "\ead4";
}
.iconmoon-flattr:before {
  content: "\ead5";
}
.iconmoon-foursquare:before {
  content: "\ead6";
}
.iconmoon-yelp:before {
  content: "\ead7";
}
.iconmoon-paypal:before {
  content: "\ead8";
}
.iconmoon-chrome:before {
  content: "\ead9";
}
.iconmoon-firefox:before {
  content: "\eada";
}
.iconmoon-IE:before {
  content: "\eadb";
}
.iconmoon-edge:before {
  content: "\eadc";
}
.iconmoon-safari:before {
  content: "\eadd";
}
.iconmoon-opera:before {
  content: "\eade";
}
.iconmoon-file-pdf:before {
  content: "\eadf";
}
.iconmoon-file-openoffice:before {
  content: "\eae0";
}
.iconmoon-file-word:before {
  content: "\eae1";
}
.iconmoon-file-excel:before {
  content: "\eae2";
}
.iconmoon-libreoffice:before {
  content: "\eae3";
}
.iconmoon-html-five:before {
  content: "\eae4";
}
.iconmoon-html-five2:before {
  content: "\eae5";
}
.iconmoon-css3:before {
  content: "\eae6";
}
.iconmoon-git:before {
  content: "\eae7";
}
.iconmoon-codepen:before {
  content: "\eae8";
}
.iconmoon-svg:before {
  content: "\eae9";
}
.iconmoon-IcoMoon:before {
  content: "\eaea";
}
