<!doctype html>
{% load staticfiles %}
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/iconmoon.css' %}">
        <title>排水設備工事申請　ログアウト</title>
    </head>
    <body>
        <div class="container">
            <h1>排水設備工事申請　ログアウト</h1>
            <p></p>
            <p><div class="alert alert-info" role="alert">ログアウトしました</div></p>
            <p></p>
            <p><a href="/">ログインページに戻る</a></p>
        </div>

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>